@media only screen and (max-width: 450px) {
  .searchWrapper {
    flex-direction: column;
    height: 200px;
  }
  .searchWrapper > * #search {
    margin: 0;
  }
  .searchWrapper > * #location {
    margin: 0;
  }
  .btnFind {
    width: 100%;
  }
  .btnFind #findItemBtn {
    width: 100%;
  }
}
