.cardContent,
.descriptionWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}

.imageWrapper {
  flex: 1;
  min-width: min(100%, 15em);
}
.descriptionWrapper {
  flex: 4;
  min-width: min(100%, 20em);
}

.descriptionWrapper > * {
  flex: 1;
  min-width: min(100%, 20em);
}

.shop__contents > :nth-child(2) {
  margin: 0 24px;
}

.gridItem {
  transition: 175ms ease;
  cursor: pointer;
}
